@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #34772E;
    --primary-font: 'Montserrat', 'sans-serif';
    --secondary-font: 'Lato', 'sans-serif';

}

h1,
h2,
h3 {
    font-family: var(--primary-font);
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

h2 {
    font-size: 3.75rem;
    line-height: 4rem;
}

h4 {
    font-size: 1.25rem;
    line-height: 2rem;
}

p {
    font-family: var(--secondary-font);
}

button,
.btn {
    text-decoration: none;
    align-items: center;
    display: flex;
    line-height: normal;
    position: relative;
    /* max-width: 130px; */
    text-align: center;

}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: 3.125rem;
    border-width: 1.5px;
    border-color: var(--primary-color);
    color: white;
    flex-shrink: 0;
    font-weight: 700;
    letter-spacing: .05em;
}

.btn-primary:hover {
    background-color: white;
    border-radius: 3.125rem;
    border-width: 1.5px;
    border-color:var(--primary-color);;
    color: var(--primary-color);
    flex-shrink: 0;
    font-weight: 700;
    letter-spacing: .05em;
}

.btn-secondary {
    border-radius: 3.125rem;
    border-width: 2px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    flex-shrink: 0;
    font-weight: 700;
    letter-spacing: .05em;
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    border-radius: 3.125rem;
    border-width: 2px;
    border-color: var(--primary-color);
    color: white;
    flex-shrink: 0;
    font-weight: 700;
    letter-spacing: .05em;
}

.btn-white {
    border-radius: 3.125rem;
    border-width: 1px;
    border-color: white;
    color: white;
    flex-shrink: 0;
    font-weight: 700;
    letter-spacing: .05em;
}

.btn-white:hover {
    background-color: white;
    border-radius: 3.125rem;
    border-width: 1.5px;
    border-color:var(--primary-color);;
    color: var(--primary-color);
    flex-shrink: 0;
    font-weight: 700;
    letter-spacing: .05em;
}

.gradient {
    background: linear-gradient(230.7deg, rgba(0, 0, 0, .105) 2.42%, rgba(0, 0, 0, .07) 24.45%, rgba(0, 0, 0, .21) 41.88%, rgba(0, 0, 0, .546) 76.81%);
}

.bg-primary-color {
    background-color: var(--primary-color);
}


.border-primary-color {
    border-color: var(--primary-color);
}

.text-primary-color {
    color: var(--primary-color)
}

.text-border-primary-color {
    border-radius: 0px;
    border-bottom: white 2px solid;
}

.text-border-primary-color:hover {
    border-radius: 0px;
    border-bottom: var(--primary-color) 2px solid;
}

.text-bordered-primary-color {
    border-radius: 0px;
    border-bottom: var(--primary-color) 2px solid;
}

.text-border-white {
    padding-bottom: 4px;
    border-bottom: var(--primary-color) 2px solid;
}

.text-border-white:hover {
    padding-bottom: 4px;
    border-radius: 0px;
    border-bottom: white 2px solid;
}

.text-bottom-border-primary-color {
    border-radius: 0px;
    border-bottom: var(--primary-color) 1px solid;
}